strict-ssl=false
email=sanjucena09@gmail.com
always-auth=true
proxy=null
https-proxy=null
registry=http://a314-49-204-120-5.in.ngrok.io/repository/npm-private/
//a314-49-204-120-5.in.ngrok.io/npm-private/:_auth=bnBtdXNlcjpucG11c2Vy
//8e83-49-204-120-5.in.ngrok.io/repository/npm-private/:_authToken=NpmToken.1f87d0ba-5e4c-3993-9fc0-9ea27580e404
